* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar h2 {
  margin: 0;
  font-size: 1.5em;
}

.navbar nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

.navbar nav a:hover {
  transform: scaleX(1.5);
}

/* ---------------- */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

/* ---------------WordDetailsPage----------- */

.word-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.loading {
  font-size: 18px;
  margin-top: 20px;
}

.error {
  color: #ff0000;
  font-size: 18px;
  margin-top: 20px;
}

.word-container {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.word-container h3 {
  font-size: 30px;
  text-transform: capitalize;
}

.phonetics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}

.phonetics-container p {
  font-size: 16px;
}

.meanings-container {
  margin-top: 20px;
  padding-left: 20px;
}

.meanings-container h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.meanings-container p {
  font-size: 16px;
}

.synonyms-antonyms {
  margin-top: 5px;
}

.synonyms-antonyms p {
  font-size: 16px;
  font-style: italic;
}

.loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------- */

.history-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.history-list {
  padding: 0;
  margin: 20px 0;
}

.history-list li {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
